.cointainer{
    background-color:#00001a;
    font-family: 'Concert One', cursive;
    font-family: 'Dosis', sans-serif;
}
.logo{
    width:100px;
}
.navbar ul li a{
   color:#8600b3;
   text-decoration: none;
   font-size: 20px;

}
.navbar ul li{
    display: inline-block;
    margin: 10px;
}
.navbar ul li a:hover{
    color:white;
}
.navbar ul{
    margin-left:550px;
    margin-top:-60px;
}
.signup{
    background-color: #600080;
    border: 0;
    padding: 10px;
    color:white;
    border-radius:5px;
}
.demovideo{
    background-color: #600080;
    border: 0;
    padding: 10px;
    color:white;
    border-radius:5px;
}
.loginanddemo{
    margin-left: 1150px;
    margin-top:-125px;
}
.menu{
    background-color:#010121;
    height:150px;
}
.syllabusoverview{
    width:400px;
}
.chapter1shapesandspace{
    width:400px;
    margin-left:470px;
    margin-top:-263px;
}
.chapter1biggerandsmaller{
    width:400px;
    margin-left:950px;
    margin-top:-265px;
}
.one{
    color:white;
    font-size: 20px;
    margin-left:110px;
}
.two{
    color:white;
    font-size: 20px;
    margin-left:490px;
    margin-top:-35px;
}
.three{
    color:white;
    font-size: 20px;
    margin-left:970px;
    margin-top:-35px;
}
.four{
    color:white;
    font-size: 20px;
    margin-left: 30px;
}
.chapter1topandbottom{
    width:400px;
}
.five{
    color:white;
    font-size: 20px;
    margin-left:480px;
    margin-top:-30px;
}
.chapter1nearerandfarther{
    width:400px;
    margin-left: 470px;
    margin-top: -263px;
}
.six{
    color:white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: -30px;
    margin-left:950px;
}
.chapter1onunderabovebellow{
    width:400px;
    margin-left:950px;
    margin-top:-280px;
}
.seven{
    color:white;
    font-size: 20px;
    margin-left: 30px;
}
.chapter1shapesaroundus{
   width:400px;
}